{% extends 'base.html' %}
{% block header %}
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 80%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 80%;
    margin: 0;
    padding: 0;
  }
</style>
{% endblock %}
{% block content %}
 <H3>Hi {{ user.email }}!</H3>
<div class="row">
 <div class="col s12 m6 offset-m3">
 </div>
</div>
<form method="post">
 {% csrf_token %}
  {% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% for hidden_field in form.hidden_fields %}
    {% if hidden_field.errors %}
      <ul>
        {% for error in hidden_field.errors %}
          <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {{ hidden_field }}
  {% endfor %}
<table border="1">
 {{ form }}
</table>
 <button type="submit">Save changes</button>
</form>
<div id="map"></div>
<script>
  var map, place, geocoder;

  const move_place = async (pos) => {
    place.setPosition(pos);
    map.panTo(pos);
    geocoder.geocode({ 'location': pos }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[0]) {
          console.log(results[0].formatted_address);
        }
      }
    });
  };

  window.onload = function()
  {
    document.getElementById("id_longditude").onchange = function(e)
    {
      move_place({lat: Number(document.getElementById('id_latitude').value), lng: Number(e.target.value)});
    };
    document.getElementById("id_latitude").onchange = function(e)
    {
      move_place({lng: Number(document.getElementById('id_longditude').value), lat: Number(e.target.value)});
    };
  };

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 6
    });
    place = new google.maps.Marker({
      title: 'place',
    })
    geocoder = new google.maps.Geocoder();

    map.addListener('click', function(e) {
      var lat = e.latLng.lat();
      var lng = e.latLng.lng();
      document.getElementById('id_latitude').value = lat;
      document.getElementById('id_longditude').value = lng;
      move_place({lat: lat, lng: lng});
    });

    infoWindow = new google.maps.InfoWindow;

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        infoWindow.setPosition(pos);
        map.setCenter(pos);
        var marker = new google.maps.Marker({
          options: { opacity: 0.5 },
          position: pos,
          map: map,
          title: 'you are here'
        });
        document.getElementById('id_latitude').value = position.coords.latitude;
        document.getElementById('id_longditude').value = position.coords.longitude;
        place.setPosition(pos);
        place.setMap(map);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }

  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap" async defer></script>
{% endblock %}
